<html>
<br/>
<br/>Hello {{org}},<br/><br/>

<p>Your Data collection tool registration is SUCCESS!!.</p>
<br/>Please find the product license and security token details.<br/><br/>
<table style="width:75%; text-align:left" border="1"  cellspacing="0" cellpadding="0">
    <tr>
        <th style="width:20%" bgcolor="#ADEAEA">License key</th>
        <td>{{lskey}}</td>
    </tr>
    <tr>
        <th style="width:20%" bgcolor="#ADEAEA">License Start Date</th>
        <td>{{lsd}}</td>
    </tr>
    <tr>
        <th style="width:20%" bgcolor="#ADEAEA">License End Date</th>
        <td>{{led}}</td>
    </tr>
    <tr>
        <th style="width:20%" bgcolor="#ADEAEA">Security Token</th>
        <td>{{api_token}}</td>
    </tr>
</table>

<br/>You can download the executable client file from <a href="https://204.87.142.92/download_client/{{download_token}}">here</a>
<br/>Please refer to the user guide to activate the product and security token usage.<br/><br/>
Regards,<br/>
Administrator<br/>
Data Collection Tool<br/>
</html>