{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<head>
{% include 'head.html' %}
</head>
<body>
	<div class="wrapper d-flex align-items-stretch">
        {% include 'side_nav_admin.html' %}
        <div id="content" class="p-3">
            {% include 'header.html' %}
            <div class="card-title p-3 mb-0">
                <h4 class="card-title mb-0"> {{ title }}
                    <a class="btn btn-secondary ml-2 float-right" href="{{ url_for('dashboard') }}"><i class="mdi mdi-keyboard-backspace"></i>Home</a>
                </h4>
            </div>
             {% include '_footer.html' %}
        </div>
    </div>
</body>

{% endblock %}
