<div class="tab-pane fade" id="{{tab_id}}" role="tabpanel" aria-labelledby="{{tab_id}}-tab">
                    <div class="title">General Information</div>
                    <table id="geninfotblid" class="table table-bordered ">
                        <tr id="inst_no">
                            <th>Installation number</th>
                        </tr>
                        <tr id="inst_date">
                            <th>Installation date</th>
                        </tr>
                        <tr id="sid">
                            <th>SID</th>
                        </tr>
                        <tr id="active_client">
                            <th>Active Client</th>
                        </tr>
                        <tr id="ctrl_area_no">
                            <th>No. of Controlling Areas</th>
                        </tr>
                        <tr id="copa_info">
                            <th>COPA Type</th>
                        </tr>
                        <tr id="release_version">
                            <th>Release</th>
                        </tr>
                        <tr id="comp_version">
                            <th>Component version</th>
                        </tr>
                        <tr id="comp_info">
                            <th>Component information</th>
                        </tr>
                        
                        <tr id="rel_change_info">
                            <th>Release change information</th>
                        </tr>
                        
                        <tr id="system_dets">
                            <th>System details</th>
                            
                        </tr>
                        <tr id="kernel_info">
                            <th>Kernel info</th>
                            
                        </tr>
                        
                        <tr id="dbsizetrid">
                            <th>Database Size</th>
                            </tr>
                        <tr id="unicode_attr">
                            <th>Unicode Attributes</th>
                            
                        </tr>
                        <tr id="allcode_pgs">
                            <th>All code pgs</th>
                            
                        </tr>
                        
                        <tr id="app_servers">
                            <th>Existing application servers</th>
                            
                        </tr>
                        
                        <tr id="upl_status">
                            <th>UPL Status</th>
                            
                        </tr>
						<tr id="ads_service_status">
                            <th>Adobe Document Service Status</th>
                            
                        </tr>
                        <tr id="memory_cpu">
                            <th>Memory and CPU</th>
                            
                        </tr>
                        <tr id="db_host">
                            <th>DB Host</th>
                            
                        </tr>
                        <tr id="app_server">
                            <th>Application Servers</th>
                        </tr>
                        <tr id="active_languages">
                            <th>Active Languages</th>
                        </tr>
						<tr id="bkpf_timeline">
                            <th>BKPF Timeline Data</th>
                        </tr>
                    </table>
                    
                    
                    <div id="functional_specs" class="title">Functional Simplification</div>
                    {{functionalspectblid|safe}}
                    
                    <div id="profile_params" class="title">Profile Parameters</div>
                    {{profileparamstblid|safe}}
                    
                    <div id="extnsions" class="title">Extensions</div>
                    {{extensionstblid|safe}}
                    
                    <div id="business_functions" class="title">Business Functions</div>
                    {{busfunctblid|safe}}
                    
                    <div id="tablesdiv" class="title">Tables</div>
                    {{tablestblid|safe}}
                    
                    <div id="useradmindiv" class="title">User administration</div>
                    {{useradmintblid|safe}}
                    
                    <div id="systemusagediv" class="title">System Usage</div>
                    {{systemusagetblid|safe}}
                    
                    <div id="interfacediv" class="title">Interface</div>
                    {{interfacetblid|safe}}
                    
                    <div id="workflowdiv" class="title">Workflow</div>
                    {{workflowtblid|safe}}
                    
                    <div id="archivediv" class="title">Archive</div>
                    {{archivetblid|safe}}
                    
                    <div class="title">Organizational Units</div>
                    <div id="relorgdiv" class="title">Most relevant organizational units</div>
                    {{relorgtblid|safe}}
                    
                    <div id="enumorgdiv" class="title">Enumeration of organizational units</div>
                    {{enumorgtblid|safe}}
                    
                    <div id="repositorydiv" class="title">Repository</div>
                    {{repositorytblid|safe}}
					
					<div id="st03ndiv" class="title">ST03N</div>
					{{st03ntblid|safe}}
					
					<div id="rsitemscheckdiv" class="title">Relevant Simplification Items</div>
					{{rsitemschecktblid|safe}}
					
					<div id="printersettingsdiv" class="title">Printer Settings</div>
					{{printersettingstblid|safe}}
					
					<div id="fioriusagediv" class="title">Fiori Usage</div>
					{{fioriusagetblid|safe}}
                </div>